@use "@styles/abstracts/_mixins.scss" as *;
@use "@styles/abstracts/_variables.scss" as *;

.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;

    .virtualWrapper {
        position: relative;
    }

    .itemWrapper {
        position: absolute;
        top: 0;
        left: 0;

        &:nth-child(even) {
            .item {
                background-color: $green100;
            }
        }

        &:nth-child(odd) {
            .item {
                background-color: $orange50;
            }
        }
    }

    .item {
        width: 100%;
        height: 100%;
        @include flex-column(center, center, 0);
        border-radius: $border-radius-xl;
    }
}